# Local/dev-only
.vscode/settings.json
.vscode/*.local.json
.vscode/*.code-workspace
.vscode-test/
.ssh/
*.env
*.key
*.pem
*.bak
*.orig

# OS noise
Thumbs.db
.DS_Store

# Optional debug noise
*.log

# Local dependencies
node_modules/
